<h1>Customer</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/customers/new">Existing Customers</a>
</p>

<ul>
  <% for customers in @customers %>
  <li>
  <p><%= customers.first_name %>
     <%= customers.last_name %>,     
     <%= customers.age %>
     <%= customers.gender %>
  </p>
    <p>
      <form action="/customers/<%= customers.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
